button,
input,
optgroup,
select,
textarea {
	font-family: "Cabin", Arial, Helvetica, sans-serif;
}
.form-section {
  position: relative;
  &__label {
    position: absolute;
    top: -14px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    z-index: 1;
    border-radius: 5px;
    border: 1px solid $grey-100;
    background: $bg-100;
    min-width: 100px;
    height: 27px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 700;
    color: $label-100;
    &-text {
      color: $label;
    }
    &-number {
      padding: 0 4px;
    }
  }

}
.form {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  border: $grey-100;
  background: $white;
  padding: 32px 24px 40px;
  display: grid;
  row-gap: 41px;
  &-block {
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      font-size: 18px;
      font-weight: 600;
    }
    &__icon {
      margin-right: 8px;
    }
  }
  &-group {
    display: grid;
    column-gap: 30px;
    row-gap: 16px;
    @include media-lg {
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }
  &-lines {
    display: grid;
    row-gap: 24px;
  }
  &-line {
    display: flex;
    flex-direction: column;
    &__input {
      width: 100%;
      padding: 10px 16px;
      box-sizing: border-box;
      border-radius: 2px;
      border: 2px solid $border;
      background: $white;
      color: #666C7B;
      height: 36px;
      font-size: 14px;
      outline: none;
      &::placeholder {
        font-family: "Cabin", Arial, Helvetica, sans-serif;
        color: $grey;
      }
      &.show-error {
        border-color: $danger;
        &~.error {
          display: block;
        }
      }
    }
    &__textarea {
      width: 100%;
      padding: 10px 16px;
      box-sizing: border-box;
      border-radius: 2px;
      border: 2px solid $border;
      background: $white;
      color: #666C7B;
      height: 120px;
      font-size: 14px;
      outline: none;
      &::placeholder {
        font-family: "Cabin", Arial, Helvetica, sans-serif;
        color: $grey;
      }

    }
    &__label {
      order: -1;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    &.tooltip {
      .tooltip__icon {
        position: absolute;
        right: 13px;
        top: 32px;
      }
    }
  }
}
.error {
  display: none;
  color: red;
  margin-top: 6px;
}