include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='en')
	include ../common/head
	body
		include ../common/sprite
		main.main
			include ../common/top
			include ../common/form

		script(src="js/custom.js")
	// END body